<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo-Приложение</title>
</head>
<body>

{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <a href="{% url 'logout' %}">Выйти</a>
{% else %}
    <a href="{% url 'login' %}">Войти</a>
{% endif %}
<hr>
<h1>To-Do список {{ color }}</h1>
<a href="{% url 'create' %}">Создать задачу</a>
<form method="get">
    <input type="text" name="search-area" value="{{ search_input }}">
    <input type="submit" value="Поиск">
</form>
<table>
    <tr>
        <th>Элемент</th>
        <th></th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td><a href="{% url 'update' task.pk %}">Обновить запись</a></td>
            <td><a href="{% url 'delete' task.pk %}">Удалить запись</a></td>
        </tr>
    {% empty %}
        <h3>Ваш список задач пуст!</h3>
    {% endfor %}

</table>
</body>
</html>